<!DOCTYPE html>
<html>
  <head>
    <title>The name of your site</title>
    <%= stylesheet_link_tag 'application' %>
  <head>
  <body>

    <h1 >Chat Room</h1>

    <div id="right_page">
      <h1> Requests</h1>
      <div id="messages">
        <%= render @messages %>
      </div>
    </div>

    <form>
      <label>Type something</label><br>
      <input id="input_message" type="text" data-behavior="room_speaker">
      <input id="send_message" type="submit" onClick="window.location.reload()"> 
    </form>

  </body>
</html>